h2 {
    font-family: "Roboto", sans-serif;
    color: white;
    text-align: center;
}

p {
    font-family: "Roboto", sans-serif;
    color: white;
    text-align: center;
}

a {
    font-family: "Roboto", sans-serif;
    color: white;
    text-align: center;
}

body {
    background-color: #4052b6
}